/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #edeec9;
    --color-secondary: #98c9a3;
    --color-tertiary: #bfd8bd;

    --color-bg-primary: #fefae0;
    --color-bg-secondary: #77bfa3;
}
