/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Rajdhani', sans-serif;
    --font-secondary: 'DM Sans', sans-serif;

    --font-size-content: 1.2rem;

    /// Grosseur des textes
    --font-size-h1: 40px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;
}
