{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="trapeze-transparent"></div>
        <div class="hero__media">
            <img src="assets/images/hero-bg-artiste.jpg" alt="background hero artiste" />
        </div>
        <div class="hero__content">
            <h1>Les cerveaux derrière ses chef-d’oeuvres</h1>
            <p>Explorez des univers sonores riches et immersifs, créés par des compositeurs de talent.</p>
        </div>
    </div>
</section>

<section class="separateur">
    <div class="wrapper">
        <div class="separateur__content">
            <h2>Connaissance des compositeurs?</h2>
            <p>
                À travers plusieurs créations de trames sonore, chaque compositeurs mettent leur touche de musique. À l’exploration de ses artistes, les
                auditeurs peuvent reconnaître leur talent dans plusieurs jeux vidéo.
            </p>
        </div>
        <div class="separateur__media">
            <img src="assets/images/artiste-info.jpg" alt="console audio" />
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
