{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="trapeze-transparent"></div>
        <div class="hero__media">
            <img src="assets/images/hero-bg-artiste.jpg" alt="background hero artiste" />
        </div>
        <div class="hero__content">
            <h1>Les cerveaux derrière ses chef-d’oeuvres</h1>
            <p>Explorez des univers sonores riches et immersifs, créés par des compositeurs de talent.</p>
        </div>
    </div>
</section>

<section class="separateur">
    <div class="wrapper">
        <div class="separateur__content">
            <h2>Connaissance des compositeurs?</h2>
            <p>
                À travers plusieurs créations de trames sonore, chaque compositeurs mettent leur touche de musique. À l’exploration de ses artistes, les
                auditeurs peuvent reconnaître leur talent dans plusieurs jeux vidéo.
            </p>
        </div>
        <div class="separateur__media">
            <img src="assets/images/artiste-info.jpg" alt="console audio" />
        </div>
    </div>
</section>

<section class="article_jeux_artistes">
    <div class="wrapper">
        <h2>Les Artistes</h2>
        <p>Survolez les cerveaux derrière les chef-d’oeuvres musicales des jeux vidéo.</p>

        <div class="cartes_jeux_artistes">
            <!-- Brian Tyler -->
            <article class="carte">
                <div class="carte_media">
                    <img src="assets/images/brian-tyler.jpg" alt="Brian Tyler" />
                </div>
                <div class="carte_content">
                    <h3>Brian Tyler</h3>
                </div>
            </article>

            <!-- Mick Gordon -->
            <article class="carte">
                <div class="carte_media">
                    <img src="assets/images/mick-gordon.jpg" alt="Mick Gordon" />
                </div>
                <div class="carte_content">
                    <h3>Mick Gordon</h3>
                </div>
            </article>

            <!-- Jesper Kyd -->
            <article class="carte">
                <div class="carte_media">
                    <img src="assets/images/jesper-kyd.jpg" alt="Jesper Kyd" />
                </div>
                <div class="carte_content">
                    <h3>Jesper Kyd</h3>
                </div>
            </article>

            <!-- Shoji Meguro -->
            <article class="carte">
                <div class="carte_media">
                    <img src="assets/images/shoji-meguro.jpg" alt="Shoji Meguro" />
                </div>
                <div class="carte_content">
                    <h3>Shoji Meguro</h3>
                </div>
            </article>

            <!-- Go Ichinose -->
            <article class="carte">
                <div class="carte_media">
                    <img src="assets/images/go-ichinose.jpg" alt="Go Ichinose" />
                </div>
                <div class="carte_content">
                    <h3>Go Ichinose</h3>
                </div>
            </article>

            <!-- Toby Fox -->
            <article class="carte">
                <div class="carte_media">
                    <img src="assets/images/toby-fox.jpg" alt="Toby Fox" />
                </div>
                <div class="carte_content">
                    <h3>Toby Fox</h3>
                </div>
            </article>

            <!-- Lorne Balfe -->
            <article class="carte">
                <div class="carte_media">
                    <img src="assets/images/lorne-balfe.jpg" alt="Lorne Balfe" />
                </div>
                <div class="carte_content">
                    <h3>Lorne Balfe</h3>
                </div>
            </article>

            <!-- Jeremy Soule -->
            <article class="carte">
                <div class="carte_media">
                    <img src="assets/images/jeremy-soule.jpg" alt="Jeremy Soule" />
                </div>
                <div class="carte_content">
                    <h3>Jeremy Soule</h3>
                </div>
            </article>

            <!-- Nobuo Uematsu -->
            <article class="carte">
                <div class="carte_media">
                    <img src="assets/images/nobuo-uematsu.jpg" alt="Nobuo Uematsu" />
                </div>
                <div class="carte_content">
                    <h3>Nobuo Uematsu</h3>
                </div>
            </article>

            <!-- C418 -->
            <article class="carte">
                <div class="carte_media">
                    <img src="assets/images/c418.jpg" alt="C418" />
                </div>
                <div class="carte_content">
                    <h3>C418</h3>
                </div>
            </article>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
