{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="trapeze-transparent"></div>
        <div class="hero__media">
            <img src="assets/images/hero_bg.jpg" alt="background hero" />
        </div>
        <div class="hero__content">
            <h1>Amateur de trames sonore de jeux video</h1>
            <p>Nous vous offrons une belle selection de trames sonore que vous pouvez explorer avec vos propres goûts.</p>
            <div class="boutons">
                <a href="jeux.html" class="bouton">Explorer les jeux</a>
                <a href="artistes.html" class="bouton">Découvrir les artistes</a>
            </div>
        </div>
    </div>
</section>

<section class="separateur">
    <div class="wrapper">
        <div class="separateur__content">
            <h2>Pourquoi les VGM?</h2>
            <p>
                Les trames sonores de jeux vidéo créent des émotions uniques et nous replongent dans nos aventures préférées. VGM Enjoyment vous permet de
                redécouvrir ces univers à travers leur musique.
            </p>
        </div>
        <div class="separateur__media">
            <img src="assets/images/sonic-orchestre.jpg" alt="sonic orchestra" />
        </div>
    </div>
</section>

<section class="jeux_artistes">
    <div class="wrapper">
        <div class="transparence"></div>
        <div class="bg_jeux_artistes"><img src="assets/images/bg-games-artistes.png" alt="" /></div>
        <div class="jeux_artistes_content">
            <h2>Jeux populaires</h2>
            <p>Explorez les jeux vidéo avec des trames sonores marquantes.</p>
            <div class="cartes_accueil">
                <div class="carte_accueil">
                    <div class="carte__media">
                        <img src="assets/images/breath-of-the-wild.jpg" alt="Breath of the Wild" />
                    </div>
                    <div class="carte__content">
                        <h3>Breath of the Wild</h3>
                    </div>
                </div>
                <div class="carte_accueil">
                    <div class="carte__media">
                        <img src="assets/images/elder-scrolls-skyrim.jpg" alt="Elder Scrolls V Skyrim" />
                    </div>
                    <div class="carte__content">
                        <h3>Elder Scrolls V Skyrim</h3>
                    </div>
                </div>
                <div class="carte_accueil">
                    <div class="carte__media">
                        <img src="assets/images/doom-eternal.jpeg" alt="Doom Eternal" />
                    </div>
                    <div class="carte__content">
                        <h3>Doom Eternal</h3>
                    </div>
                </div>
            </div>
            <a href="jeux.html" class="bouton">Explorer les jeux populaires</a>
            <hr />
            <h2>Artistes/Compositeurs</h2>
            <p>Explorez les artistes et compositeurs qui ont créer ses chef-d’oeuvres pour les jeux vidéo</p>
            <div class="cartes_accueil">
                <div class="carte_accueil">
                    <div class="carte__media">
                        <img src="assets/images/brian-tyler.jpg" alt="Brian Tyler" />
                    </div>
                    <div class="carte__content">
                        <h3>Brian Tyler</h3>
                    </div>
                </div>
                <div class="carte_accueil">
                    <div class="carte__media">
                        <img src="assets/images/mick-gordon.jpg" alt="Mick Gordon" />
                    </div>
                    <div class="carte__content">
                        <h3>Mick Gordon</h3>
                    </div>
                </div>
                <div class="carte_accueil">
                    <div class="carte__media">
                        <img src="assets/images/c418.jpg" alt="C418" />
                    </div>
                    <div class="carte__content">
                        <h3>C418</h3>
                    </div>
                </div>
            </div>
            <a href="artistes.html" class="bouton">Explorer les artistes/compositeurs</a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
