{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="trapeze-transparent"></div>
        <div class="hero__media">
            <img src="assets/images/hero-bg-jeux.jpg" alt="background hero jeux" />
        </div>
        <div class="hero__content">
            <h1>Les Jeux vidéo à l’honneur musical</h1>
            <p>Explorez des univers sonores riches et immersifs, créés par des compositeurs de talent.</p>
        </div>
    </div>
</section>

<section class="separateur">
    <div class="wrapper">
        <div class="separateur__content">
            <h2>Nostalgie ou goût musical?</h2>
            <p>
                Aux oreilles de nos auditeurs amateurs, certains jeux vidéo offrent des bandes sonores qui suscitent la nostalgie ou créent une ambiance
                particulière chez nos joueurs.
            </p>
        </div>
        <div class="separateur__media">
            <img src="assets/images/jeux-info.jpg" alt="univers jeu vidéo" />
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
