{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="trapeze-transparent"></div>
        <div class="hero__media">
            <img src="assets/images/hero-bg-jeux.jpg" alt="background hero jeux" />
        </div>
        <div class="hero__content">
            <h1>Les Jeux vidéo à l’honneur musical</h1>
            <p>Explorez des univers sonores riches et immersifs, créés par des compositeurs de talent.</p>
        </div>
    </div>
</section>

<section class="separateur">
    <div class="wrapper">
        <div class="separateur__content">
            <h2>Nostalgie ou goût musical?</h2>
            <p>
                Aux oreilles de nos auditeurs amateurs, certains jeux vidéo offrent des bandes sonores qui suscitent la nostalgie ou créent une ambiance
                particulière chez nos joueurs.
            </p>
        </div>
        <div class="separateur__media">
            <img src="assets/images/jeux-info.jpg" alt="univers jeu vidéo" />
        </div>
    </div>
</section>

<section class="article_jeux_artistes">
    <div class="wrapper">
        <h2>Jeux populaires</h2>
        <p>Explorez les jeux vidéo avec des trames sonores marquantes.</p>

        <div class="cartes_jeux_artistes">
            <!-- Legend of Zelda: Breath of the Wild -->
            <article class="carte">
                <div class="video" data-component="YouTube" data-video-id="3JtDLDmvSZY">
                    <div class="carte_media js-video">
                        <img class="js-poster" src="assets/images/breath-of-the-wild.jpg" alt="Legend of Zelda: Breath of the Wild" />
                        <svg class="icon icon--slg">
                            <use href="#icon-play"></use>
                        </svg>
                    </div>
                </div>

                <div class="carte_content">
                    <h3>Legend of Zelda: Breath of the Wild (2017)</h3>
                    <p>Compositeur: Manaka Kataoka</p>
                </div>
            </article>

            <!-- Doom Eternal -->
            <article class="carte">
                <div class="video" data-component="YouTube" data-video-id="mRX0IAFh_54">
                    <div class="carte_media js-video">
                        <img class="js-poster" src="assets/images/doom-eternal.jpeg" alt="Doom Eternal" />
                        <svg class="icon icon--slg">
                            <use href="#icon-play"></use>
                        </svg>
                    </div>
                </div>

                <div class="carte_content">
                    <h3>Doom Eternal (2020)</h3>
                    <p>Compositeur: Mick Gordon</p>
                </div>
            </article>

            <!-- Assassin's Creed II -->
            <article class="carte">
                <div class="video" data-component="YouTube" data-video-id="iriiZOeInDg">
                    <div class="carte_media js-video">
                        <img class="js-poster" src="assets/images/assassins-creed-2.jpg" alt="Assassin's Creed II" />
                        <svg class="icon icon--slg">
                            <use href="#icon-play"></use>
                        </svg>
                    </div>
                </div>

                <div class="carte_content">
                    <h3>Assassin's Creed II (2009)</h3>
                    <p>Compositeur: Jesper Kyd</p>
                </div>
            </article>

            <!-- Elder Scrolls V: Skyrim -->
            <article class="carte">
                <div class="video" data-component="YouTube" data-video-id="9gDPbac2QyU">
                    <div class="carte_media js-video">
                        <img class="js-poster" src="assets/images/elder-scrolls-skyrim.jpg" alt="Elder Scrolls V: Skyrim" />
                        <svg class="icon icon--slg">
                            <use href="#icon-play"></use>
                        </svg>
                    </div>
                </div>

                <div class="carte_content">
                    <h3>Elder Scrolls V: Skyrim (2011)</h3>
                    <p>Compositeur: Jeremy Soule</p>
                </div>
            </article>

            <!-- Persona 5 -->
            <article class="carte">
                <div class="video" data-component="YouTube" data-video-id="LZzlSYNF2Dw">
                    <div class="carte_media js-video">
                        <img class="js-poster" src="assets/images/persona_5.jpeg" alt="Persona 5" />
                        <svg class="icon icon--slg">
                            <use href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
                <div class="carte_content">
                    <h3>Persona 5 (2016)</h3>
                    <p>Compositeur: Shoji Meguro</p>
                </div>
            </article>

            <!-- Undertale -->
            <article class="carte">
                <div class="video" data-component="YouTube" data-video-id="ppIZLh0KqmY">
                    <div class="carte_media js-video">
                        <img class="js-poster" src="assets/images/undertale.jpg" alt="Undertale" />
                        <svg class="icon icon--slg">
                            <use href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
                <div class="carte_content">
                    <h3>Undertale (2015)</h3>
                    <p>Compositeur: Toby Fox</p>
                </div>
            </article>

            <!-- Pokémon Legends: Arceus -->
            <article class="carte">
                <div class="video" data-component="YouTube" data-video-id="k5Tcvk_7bnM">
                    <div class="carte_media js-video">
                        <img class="js-poster" src="assets/images/pokemon-legends-arceus.jpg" alt="Pokemon Legends: Arceus" />
                        <svg class="icon icon--slg">
                            <use href="#icon-play"></use>
                        </svg>
                    </div>
                </div>

                <div class="carte_content">
                    <h3>Pokemon Legends: Arceus (2022)</h3>
                    <p>Compositeur: Go Ichinose</p>
                </div>
            </article>

            <!-- Minecraft -->
            <article class="carte">
                <div class="video" data-component="YouTube" data-video-id="xtSYnufqAfg">
                    <div class="carte_media js-video">
                        <img class="js-poster" src="assets/images/minecraft.jpg" alt="Minecraft" />
                        <svg class="icon icon--slg">
                            <use href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
                <div class="carte_content">
                    <h3>Minecraft (2009)</h3>
                    <p>Compositeur: C418</p>
                </div>
            </article>

            <!-- Super Mario Galaxy 2 -->
            <article class="carte">
                <div class="video" data-component="YouTube" data-video-id="HBSA-rYuk3U">
                    <div class="carte_media js-video">
                        <img class="js-poster" src="assets/images/super-mario-galaxy-2.jpg" alt="Super Mario Galaxy 2" />
                        <svg class="icon icon--slg">
                            <use href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
                <div class="carte_content">
                    <h3>Super Mario Galaxy 2 (2010)</h3>
                    <p>Compositeur: Mahito Yokota</p>
                </div>
            </article>

            <!-- Assassin's Creed IV: Black Flag -->
            <article class="carte">
                <div class="video" data-component="YouTube" data-video-id="JYVMnLUZu9Y">
                    <div class="carte_media js-video">
                        <img class="js-poster" src="assets/images/assassins-creed-4.jpg" alt="Assassin's Creed IV: Black Flag" />
                        <svg class="icon icon--slg">
                            <use href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
                <div class="carte_content">
                    <h3>Assassin's Creed IV: Black Flag (2013)</h3>
                    <p>Compositeur: Brian Tyler</p>
                </div>
            </article>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
